body {
  font-family: Arial, sans-serif, ;
  background-color: rgb(223, 201, 174);
}

form {
  background-color: rgb(197, 146, 111);
  width: 40%;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-right: 10px;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
  width: 300px;
  padding: 2px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #876f51;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background-color: #3e8e41;
}

textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.center {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0.5em;
}